version: '3.8'

services:
  backend:
    build: .
    container_name: air_pollution_app
    restart: always
    ports: 
      - 5000:5000
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
  
  redis:
    image: redis:7.2-alpine
    container_name: air_pollution_app__redis
    restart: always
    ports:
      - "6379:6379"    

  prometheus:
    image: prom/prometheus:v2.51.2
    container_name: air_pollution_app_prometheus
    restart: always
    command:
      - 'storage.tsdb.retention.time=7d'
    volumes:
      # bind mount, file mapping
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.2
    container_name: air_pollution_app_grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
# create volumes
volumes:
  prometheus_data:
  grafana_data:






    


    



