version: '3.8'

services:
  backend:
    build: .
    container_name: air_pollution_app
    restart: always
    ports: 
      - 5000:5000
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
  
  redis:
    image: redis:7.2-alpine
    container_name: air_pollution_app__redis
    restart: always
    ports:
      - "6379:6379"    
